#dashboard {
    min-height: 100vh;
    /*background: #e4e4e4;*/
}


.active {
    font-weight: bolder;
    border-left: 2px solid black;
}

.conts {
    background: #1f1f1f;
    color: #d1d1d1;
}

#side-bar hr {
    border-color: ghostwhite;
}



#side-bar {
    transition: all 0.3s ease-in;
}
#side-bar span {
    padding: 0 1.5rem;
}
.short-side {
    width: auto!important;
}
.short-side span {
display: none;
}
#side-bar li, #side-bar > i, #side-bar div {
    padding-left: 2rem;
    padding-right: 2rem;
}
#side-bar ul > li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    cursor: pointer;
}
#side-bar ul > li:hover {
    background: #e5e7eb;
}
#side-bar ul > li > i {
    padding: 1.5rem 0;
    width: 18px;
    text-align: center;
}

@media screen and (max-width: 720px) {
    .short-side {
        position: fixed;
        width: calc(100vw - 1rem);
        height: calc(100vh - 1rem);
        /*box-sizing: content-box;*/
        /*position: fixed;*/
        /*height: 100vh;*/
        /*margin: 0.5rem;*/
    }

    #side-bar {
        position: fixed;
        color: ghostwhite;
        background: #1f1f1f;
        width: calc(100vw - 1rem);
        height: calc(100vh - 1rem);
        margin: 0.5rem;
        box-shadow: 0 0 10px 0 #e4e4e4;
    }
}

#content {
    /*background: url("https://cdn.dribbble.com/users/683081/screenshots/2728654/media/7bb2b47d0574d39b20354620e4fa50c8.png") center no-repeat;*/
}

#systems span {
    min-width: 64px;
}
